body {
    background-color: #101010;
}

h1 {color: yellow; 
    font-family: "manifold-extd-cf", sans-serif;
    font-weight: 500;
    font-style: italic;
    line-height: 100%;
    font-size: 100px;
}

p {color: whitesmoke; 
    font-family: "andale-mono-mt-pro", monospace;
    font-weight: 400;
    font-style: normal;
}

div.box {background-color: #566789;
    width: 400px;
    height: 500px;
    margin-left: 200px;
    margin-top: 10
    0px;
}