body {
    background-color: #f2f0ec;
    padding: 0;
    margin: 0;
    font-family: "chandler-42-regular", monospace;
    font-weight: 400;
    font-style: normal;
}

div.nav {position: fixed;
    display:flex;
    width:100%;
    mix-blend-mode:difference;
    color:whitesmoke;
    font-size: 20px;
    z-index: 9;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: whitesmoke;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

div.hero {color: whitesmoke;
    margin: 0;
    padding: 0;
    height: 100vh;
}

div.fifths {height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "chandler-42-regular", monospace;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100px;
}

div.center {margin-top: auto;
    margin-bottom: auto;
    width: auto;
}

div.centered {width: 80%; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 75px;
}

h1.black {color: #101010;
}

h1.white {color: whitesmoke;
}

div.yellow {color: #FFDE21;
}

p {color: whitesmoke; 
    font-family: "chandler-42-regular", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

div.subtitle {background-color:#101010;
    color: whitesmoke; 
    font-family: "chandler-42-regular", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 0;
}

marquee.center {text-align: center;
    height: 100%;
    width: auto;
}

marquee.yellow {color: #FFDE21;
}

img.hero {border-radius: 12px; 
    border-color: yellow; 
    border-style: solid; 
    border-width: 2px;
    width: 100%;
    margin-bottom: 50px;
}

img.after {filter: invert(1) brightness(50%) contrast(750%) sepia(25%);
    transition: 1000ms ease;
}

img.before {margin: auto;
}

img.high {height: 100%;
}

img.wide {width: 48%;
    margin: 5px;
    aspect-ratio: 16 / 9;
}

img.strip {width: 33%;
    object-fit: contain;
    margin-bottom: 5px;
    margin-top: 5p;
}

img {text-align: center;
    transition: 1000ms ease;
    object-fit: cover;
}

img.negative:hover {filter: invert(1) brightness(50%) contrast(750%) sepia(25%);
    transition: 500ms ease;
}

div.seventy {width: 70%;
}

div.half {width: 50%;
}

div.thirty {width: 30%;
}

div.seventy {width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.forty {width: 40%;
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
}

div.flex {display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
}

div.negative {display: flex;
    overflow:scroll;
}

div.filmstrip {display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 250px;
    margin-bottom: 250px;
}

div.filmtitle {
    margin-top: 100px;
}

div.bottomborder {border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #101010;;
    display: flex;
    flex-direction: row;
    color: #101010;; 
    font-family: "chandler-42-regular", monospace;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
}

div.divider {border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #101010;;
    padding: 0;
    margin-right: 20px;
    color: black; 
    font-family: "chandler-42-regular", monospace;
    font-weight: 400;
    font-style: normal;
}

div.red {
    color:red;
}

div.purple {
    color:purple;
}

div.largefont {
    font-size: 40px;
}

div.mediumfont{
    font-size: 25px;
}

div.margintop {
    margin-top: 200px;
}

div.marginbot {
    margin-bottom: 25px;
}

div.navitem {margin-left: 50px;
    margin-right: 50px;
}

div.flex {display: flex;
    flex-direction: row;
}

div.blackbg {background-color: #101010;;
}

div.quote {text-align: center;
    height: 500px;
}

div.padding {padding-left: 100px;
    padding-right: 100px;
}

p.black {color: #101010;
}

div.overflow {display: flex;
    overflow: scroll;
}

mark {background-color: #FFDE21;}

div.colophon {background-color: #101010;
    color: #FFDE21;
    height: 200px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}

div.right {text-align: right;
}

div.spacebetween {justify-content: space-between;
}

div.padded {padding-left: 35px;
    padding-right: 35px;
}